[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pandas = "*"
yapf = "*"
autopep8 = "*"

[packages]
pymysql = "*"
sqlalchemy = "*"
marshmallow = "*"
flask_restful = "*"
flask_cors = "*"
pyjwt = "==2.4.0"
python-i18n = {extras = ["yaml"], version = "*"}
webargs="*"
pyhumps="*"
python-dotenv = "*"
google-cloud-aiplatform = "*"
setuptools = "*"

[requires]
python_version = "3.13"
